@{
    ViewBag.Title = "Weekly Report";
}

<h2>@ViewData["Message"]</h2>
@*@using (Html.BeginForm("GenPDF", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <button class="btn btn-primary" type="submit">ตกลง</button>
}*@